<!DOCTYPE> 
<html>
<title>Premiere Digital</title>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
    <script src="static/vendors/js/angular-utils-pagination/dirPagination.js"></script>
    <script src="static/js/app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/app.css">
    <link rel="stylesheet" href="static/vendors/css/font-awesome-4.5.0/css/font-awesome.css">
</head>
<body ng-app="premiereApp">
    <div ng-controller="premiereCtrl">
        <nav class="navbar navbar-default container">
            <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Premiere Digital</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                <li><a href ng-click="getAllData()">All Movies</a></li>
                <li><a href="https://github.com/briancoxen/premieredigital">GitHub FE</a></li>
                <li><a href="https://github.com/briancoxen/premieredigitalJava">GitHub BE</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" ng-model="search" class="form-control" placeholder="Search">
                </div>
            </form>
        </nav>
        <div class="container">
        <div class="row panel panel-default">
            <table class="table table-bordered">
                 <thead>
                     <tr>
                          <th colspan="3">
                              <div ng-show="xmlUploader">
                                  <form class="navbar-form navbar-left container">
                                      <div class="form-group">
                                          <input class="form-control" type="file" file-model="file"/>
                                      </div>
                                      <button class="btn btn-default" ng-click="uploadXMLFile()">Upload XML File</button>
                                  </form>
                              </div>
                              <div ng-show="xmlUploadSpinner">
                                  <center><div class="loader"></div></center>
                              </div>
                              <div ng-show="detailsPage">
                                  <center><h3>Movie Details</h3></center>
                              </div>
                          </th>
                     </tr>
                </thead>
                <tbody ng-show="AllMovies">
                    <tr>
                        <th>Title</th>
                        <th>MD5 Checksum</th>
                        <th>Release Date</th>
                        <th>Details</th>
                    </tr>

                    <tr dir-paginate="movie in Movies | filter: search | orderBy: 'Title' | itemsPerPage: 10">
                        <td>{{ movie.Title }}</td>
                        <td>{{ movie.MD5 }}</td>
                        <td>{{ movie.ReleaseDate }}</td>
                        <td><i class="fa fa-eye" ng-click="showDetails(movie.id, movie.Title, movie.MD5, movie.Director, movie.ReleaseDate, movie.Length, movie.Type, movie.Description, movie.File)"></i></td>
                    </tr>
                </tbody>

                <tbody ng-show="MovieDetails">
                    <tr>
                        <th colspan="3">{{ details.Title }}</th>
                    </tr>
                    <tr>
                        <td>Director</td>
                        <td colspan="2">{{ details.Director }}</td>
                    </tr>
                    <tr>
                        <td>Released</td>
                        <td colspan="2">{{ details.ReleaseDate }}</td>
                    </tr>
		    <tr>
                        <td>Description</td>
                        <td colspan="2">{{ details.Description }}</td>
                    </tr>
                    <tr>
                        <td>Length</td>
                        <td colspan="2">{{ details.Length }}</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td colspan="2">{{ details.Type }}</td>
                    </tr>
                    <tr>
                        <td>File</td>
                        <td>MD5 Checksum: {{ details.MD5 }}</td>
                        <td ng-show="details.File === null">
                            <div class="alert alert-danger" ng-show="error">{{ errorMsg }}</div>
                            <div ng-show="mediaUploadSpinner">
                                  <center><div class="loader"></div></center>
                            </div>
                            <form class="navbar-form navbar-right container" ng-show="mediaUploadForm">
                                <div class="form-group">
                                    <input class="form-control" type="file" file-model="file"/>
                                </div>
                                <button class="btn btn-default" ng-click="uploadMediaFile(details.id, details.MD5)">Upload Media</button>
                            </form>
                        </td>
                        <td ng-show="details.File !== null">
                            <a href="{{ details.File }}" download>Download</a><br />
                            <button class="btn btn-default" ng-click="deleteFile(details.id)">Delete File</button>
                        </td>
                    </tr>
                </tbody>

                <tfoot ng-show="Pagination">
                    <td colspan="4"><div align="right"><dir-pagination-controls></dir-pagination-controls></div></td>
                </tfoot>
            </table>
        </div>
        </div>
    </div>
</body>
</html>

